<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.java.admin.product.dao.mapper.AdminProductMapper">
    <resultMap type="com.java.product.dto.ProductDto" id="product_dto">
		<result column="num" property="num"/>	
		<result column="name" property="name"/>	
		<result column="price" property="price"/>	
		<result column="img" property="img"/>
		<result column="content" property="content"/>	
		<result column="e_date" property="e_date"/>
		<result column="record" property="record"/>
		<result column="category" property="category"/>
	</resultMap>
    
    <select id="product_list" parameterType="java.util.Map" resultMap="product_dto">
    	select * 
    	from product
	</select>
	
	<select id="getProductManagementByPageNum" parameterType="int" resultMap="product_dto">
	<![CDATA[
		select * 
		from (select rownum as rnum, a.* 
			  from (select * 
			        from product 
			        order by num) A 
			  where rownum <= #{endPage}) X 
		where x.rnum >= #{startPage}
		]]>
	</select>
	
	<select id="getProductsSizeAll" parameterType="int" resultType="com.java.common.ProductSizeVO">
	select num as p_num, psize, quantity
	from (select p.num, s.psize, s.quantity 
	      from product p, product_size s 
	      where p.num = s.p_num) 
	where num=#{p_num}
	</select>
	
	<insert id="product_insert" parameterType="com.java.product.dto.ProductDto">
		insert
		into product(
			num,
			name,
			price,
			img,
			content,
			e_date,
			record,
			category
			)
		values(
			<!-- seq_shop_product.nextval, -->
			#{num},
			#{name},
			#{price},
			#{img},
			#{content},
			sysdate,
			#{record},
			#{category}
		)
		
	</insert>
	
	<insert id="product_insert_Img" parameterType="com.java.common.ProductImageVO">
		insert
		into product_image(
			num,
			p_num,
			img
		)
		values(
			#{num},
			#{p_num},
			#{img}
		)
	</insert>
	
<select id="selectProductNum" resultType="int">
		select seq_shop_product.nextval 
		from dual
	</select>
	
	<select id="selectProductImgNum" resultType="int">
		select seq_product_image.nextval 
		from dual
	</select> 
	
    </mapper>